 <div class="image-container">
    <img src="assets/images/hello.jpg" alt="Image" class="image">
  </div>
  
  <div class="text-container">
    <div>
      <h1 class="text rainbow-text" >Hello user</h1>
    </div>
    <div>
      <h1 class="text rainbow-text">Welcome to the Sales Prediction App!</h1>
    </div>
    <div>
      <p class="predict-text">Please click the below button  to predict your dataset.</p>
    </div>
    <div>
      <button class="predict-button" onclick="window.location.href='/prediction'">Predict Your Dataset</button>
    </div>
   
  </div>

